<% layout("/layout/boilerPlate.ejs") %>

<%  let avgRat = (arr) => {  %>
    <% let sum = 0;  %>  
    <% for (let reviews of arr) { %>
     <%  sum += reviews.rating;   %> 
    <% } %>
    <% if(sum == 0) return 0; %>
    <% return (sum / arr.length).toFixed(1);  %>
 <% } %>

<body>
    <h4 class="offset-2"><i><b><%= foodDetail.title %> </b></i></h4>

    <div class="card-head row mt-3  offset-2">
        <div class="col-8 card card-listing card-show">
            <img src="<%= foodDetail.image.url %>" class="card-img" alt="foodListing_image" >
            <div class="card-option">
                <p class="card-text"><i><%= foodDetail.about %></i>  </p>
                <p> &#8377;<b><%= foodDetail.price.toLocaleString("en-IN") %> </b>/one</p>
                <% if(foodDetail.owner.shopeName) { %>
                    <p class="card-text"><b>At </b> <i> <%= foodDetail.owner.shopeName %></i> </p>
                    <% } %>
                <div class="rating-body mb-3">
                    <div class="rating card-text">
                        <p class="card-text"> <%= avgRat(foodDetail.review) %></p>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="card-text"> ratings </p>
                </div> 
        </div>
        
    
    <div class="row mt-3 mb-3">
        <% if(currUser && foodDetail.owner._id.equals(currUser._id)) { %>
        <div class="col-2">
            <form method="get" action="/update/<%= foodDetail._id %>">
                <button class="btn btn-primary">Edit</button>
            </form>
        </div>

        <div class="col-8">
            <form method="post" action="/delete/<%= foodDetail._id %>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>

        <div class="col-2">
            <form method="get" action="/order/<%= foodDetail._id %>">
                <button class="btn btn-danger">Order Now</button>
            </form>
        </div>

    </div>
    
</div>
</div>

<hr>
<!-- review model impplementation -->
<div class="row mt-3 offset-2">
    <% if(currUser) { %>
    <h2> Give  your Reviews</h2><br>
    <form method="post" action="/<%= foodDetail._id %>/review">
        <br>
        <p>Rating</p>
        <div class="rate mt-3 mb-3" >
            <input type="radio" id="star5" name="review[rating]" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="review[rating]" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="review[rating]" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="review[rating]" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="review[rating]" value="1" />
            <label for="star1" title="text">1 stars</label>
        </div>
        <br><br>
        <div class="mt-3 mb-3">
            <br>
            <label for="comment" class="form-label" >Comments</label>
            <textarea id="comment" name="review[comment]" rows="5" cols="30" type="text"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for reviews!</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <h4>All reviews</h4>
    <% } %>   
        <div class="row">
            <% for (let review of foodDetail.review) { %>
                <div class="col-5 card card-body-review mt-3 mb-3 ms-3">
                    <div class="card-body">
                        <h5 class="card-title">@<i><%= review.author.username %></i></h5>
                        <div class="review-card">
                            <p class="card-text"><%= review.comment %></p>
                            <div class="Stars " style="--rating:<%= review.rating %> ;" aria-label="Rating of this product is 2.3 out of 5."></div>
                        </div>

                        <% if(currUser && review.author._id.equals(currUser._id)) { %>
                        <form method="post" action="/<%= foodDetail._id %>/review/<%= review._id %>?_method=DELETE">
                            <button class="btn btn-danger">Delete <i class="fa-regular fa-trash-can"></i></button>
                        </form>
                        <% } %>
                    </div>
                </div>
            <% } %> 

                
        </div>
</div>


</body>


